<h1>Sign In</h1>

<form method="POST" action="/signin">
  <label>Username</label><br>
    <input type="text" name="user[name]"><br>

  <label>Password</label><br>
    <input type="password" name="user[password]">
  <br><br>
  <input type="submit" value="Sign In">
</form>