.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.col-md-4{
	width: 20%;
}

.col-md-6{
	float:right;
	width: 80%;
}

.flip { 
  width: 50%;
  height: 260px;
  position: relative;
  perspective: 800px;
}

#card {
	width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

#card figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#card .back {
  transform: rotateY( 180deg );
}

#card.flipped {
  transform: rotateY( 180deg );
}

img {
	height:100px;
	width:100px;
}