body{
  width:100%;
  padding:20px;
}

th {
  text-align: left;
}

#recipe h1{
  margin-top:0px;
}

.vote {
  opacity: 0.4;
}

.vote:hover {
  opacity: 1;
}

.col-md-4{
  width: 20%;
}

.col-md-6{
  float:right;
  width: 80%;
}

.right-align {
  float: right;
  width: 900px;
  text-align: right;
}

#recipe-form {
  margin-top:50px;
}

.row {
  margin-top:50px;
}

.container {
  margin-left:0px;
}

.auth {
  margin-top: 50px;
}
