body{
  width:100%;
  padding:20px;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

#recipe h1{
  margin-top:0px;
}

.col-md-4{
	width: 20%;
}

.col-md-6{
	float:right;
	width: 80%;
}

#comment-overflow{
  max-height:100px;
  overflow:auto;
}

#rec-ind{
  margin-top:0;
}
