<div>
  <form action="/recipes" method="POST">
    <input type="text" name="recipe[name]" placeholder="name">
    <input type="text" name="recipe[ingredients]" placeholder="ingredients">
    <input type="text" name="recipe[instructions]" placeholder="instructions">
    <input type="text" name="recipe[photo_url]" placeholder="photo url">
    <input type="submit">
  </form>
</div>
