<div id="recipe-form">
  <form action="/recipes" method="POST">
    <input type="hidden" name='recipe[user_id]' value='<%= current_user.id %>'>
    <input type='text' name="recipe[name]" placeholder="name"><br>
    <br>
    <textarea rows='5' cols='50' name="recipe[ingredients]" placeholder="ingredients"></textarea><br>
    <br>
    <textarea rows='5' cols='50' name="recipe[instructions]" placeholder="instructions"></textarea><br>
    <br>
    <input type="submit">
  </form>
</div>
