<div class="auth">	
	<h2><%= @user.name %></h2>
	<h3>recipes</h4>
	<% @user.recipes.each do |recipe| %>
	  <h4><%= recipe.name %><br></h5>
	  <label>ingredients:</label>
	  <%= recipe.ingredients %><br>
	  <label>instructions</label>
	  <%= recipe.instructions %><br>
	<% end %>
</div>


