<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <script src="/js/application.js"></script>

  <title></title>
</head>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="/recipes">recipe index</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li><a href="/signout">sign out</a></li>
          <li><a href='/recipes/new'>add recipe</a></li>
        <% else %>
          <li><a href="/signin">sign in</a></li>
          <li><a href="/signup">sign up</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<body>
  <%= yield %>
</body>
</html>
