<div id="vote-div">
  <form action='/recipes/<%= @recipe.id %>/upvotes' method='POST' class='vote_action'>
    <input type='hidden' name='_method' value='PUT'>
    <input type='image' src='upvote.png' alt='upvote' class='vote'>
  </form>

  <form action='/recipes/<%= @recipe.id %>/downvotes' method='POST' class='vote_action'>
    <input type='hidden' name='_method' value='PUT'>
    <input type='image' src='downvote.png' alt='downvote' class='vote'>
  </form>

  <p> votes: <%= @recipe.vote_count %></p>
</div>
